.icon {
    font-size: 2rem;
    margin: 5px;
    cursor: pointer;
}
.icon:hover{
    color: #00382A;
}
.holder {

    width: 90%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.holder button {
    position: relative;
    align-self: flex-end;
    background: #D8EC8A;
    outline: none;
    border:none;
    border-radius: 5px;
    color: #00382A;
    padding: 5px 10px;
    align-items: center;
    cursor: pointer;
    width: 180px;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-left: 15px;
    transition: all 0.5s ease-in-out
}

.holder button:hover{

    background-color: #00382A;
    color: #D8EC8A;

}
    

.products-table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.products-table thead {
    background-color: #D8EC8A;
    color: #ffffff;
}

.products-table th,
.products-table td {
    padding: 12px 15px;
}

th {
    color: #00382A;
}